/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    color: #333;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 200px;
    background-color: #eed9c1;
    padding-top: 20px;
    position: fixed;
    height: 100%;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #eed9c1;
}

.sidebar ul li a.active {
    background-color: #9b291a;
    color: #fff;
}

.content {
    margin-left: 220px;
    padding: 20px;
    width: calc(100% - 220px);
}

h1 {
    color: #9b291a;
    background-color: #eed9c1;
    padding: 10px;
    border-radius: 5px;
    font-size: 24px;
    text-align: center;
}

h2 {
    color: #9b291a;
    background-color: #eed9c1;
    padding: 5px;
    border-radius: 3px;
    font-size: 18px;
    margin-top: 20px;
}

h3 {
    color: #9b291a;
    font-size: 16px;
    margin-top: 15px;
}

p, ul {
    margin-top: 10px;
    margin-bottom: 10px;
}

ul li {
    margin-left: 15px;
}

ul li a {
    color: #9b291a;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}


/* math */

.overline {
    text-decoration: overline;
    text-decoration-skip-ink: none;
}
.overline-sub {
    display: inline-block;
    position: relative;
}
.overline-sub::before {
    content: '';
    position: absolute;
    top: 0; /* Adjust this value as needed */
    left: 0;
    right: 0;
    border-top: 1px solid;
}

.overrightarrow {
    display: inline-block;
    position: relative;
}

.overrightarrow::after {
    content: '→';
    position: absolute;
    right: 0px; /* Adjust this value as needed */
    bottom: 10px; /* Adjust this value as needed */
}
