/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    display: flex;
    height: 100vh;
    color: #333;
    line-height: 1.8;
    /*background-color: #E9E6EB;*/
}

p {
    margin-bottom: 5em;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.sidebar {
    width: 200px;
    background-color: #FBF9FD;
    position: fixed;
    height: 100%;
    box-shadow: 1px 1px 1px rgba(150, 150, 150, 0.2);
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    z-index: 1000;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar li {
    margin: 0;
}



.sidebar ul li {
    margin-bottom: 20px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: normal;
    padding: 10px 20px;
    display: block;
    text-align: left;
}

.sidebar ul li a:hover {
    background-color: #B0E4F5;
}

.sidebar ul li a.active {
    background-color: #009BB8;
    color: #fff;
}

.content {
    margin-left: 220px;
    padding: 20px;
    width: calc(100% - 220px);
}

header {
    position: fixed;
    top: 0;
    left: 200px;
    width: calc(100% - 200px);
    z-index: 900;
    text-align: center;
    font-size: 24px;

    color: #544F63;
    background-color: #FBF9FD;
    padding: 30px;
    border-radius: 5px;
    border-color: #FBF9FD;
    border-style: solid;
    height: 100px;
    box-shadow: 1px 1px 1px rgba(150, 150, 150, 0.2);
    margin: 0;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
}

header h1 {
    margin: 0;
    text-align: center;
    font-size: 24px;
    color: #333;
}

.container {
    margin-top: 80px;
    display: flex;
}


h1 {
    display: flex;               /* Active le flexbox */
    justify-content: center;     /* Centre horizontalement */
    align-items: center;         /* Centre verticalement */
    color: #544F63;
    background-color: #fff;
    padding: 0;                  /* Pas de padding pour simplifier */
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(150, 150, 150, 0.5);
    font-size: 28px;
    height: 100px;               /* Hauteur définie */
    width: 100%;                 /* Largeur à 100% */
    margin: 0;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
}

h2 {
    color: #009BB8;
    background-color: #ffffff;
    /*border-color: #aaaaaa;*/
    padding: 5px;
    /*border-radius: 0px;
    border-style: solid;*/
    box-shadow: 0 2px 0 rgba(150, 150, 150, 0.2);
    font-size: 25px;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
    left: 20px;
    font-variant: all-petite-caps;
}

h3 {
    color: #009BB8;
    font-size: 16px;
    margin-top: 15px;
}

p, ul {
    margin-top: 10px;
    margin-bottom: 10px;
}

ul li {
    margin-left: 15px;
}

ul li a {
    color: #009BB8;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

#animationCanvasContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid #000; /* Bordure noire */
    width: 80%; /* Prend 80% de la largeur de la fenêtre */
    max-width: 600px; /* Largeur maximale */
    aspect-ratio: 2.5 / 1.5; /* Maintient le ratio largeur/hauteur */
    margin: 20px auto; /* Centré horizontalement avec un espace vertical */
    overflow: hidden /* auto; /* Ajoute des scrollbars si nécessaire */ /* Empêche le contenu de dépasser */
}

#antAnimation {
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid #000; /* Bordure noire */
    width: 80%; /* Prend 80% de la largeur de la fenêtre */
    max-width: 600px; /* Largeur maximale */
    aspect-ratio: 2.5 / 1.5; /* Maintient le ratio largeur/hauteur */
    margin: 20px auto; /* Centré horizontalement avec un espace vertical */
    overflow: hidden /* auto; /* Ajoute des scrollbars si nécessaire */ /* Empêche le contenu de dépasser */
}


#bigAnimationCanvasContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffffff; /* Bordure noire */
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(150, 150, 150, 0.5);
    width: 100%; /* Prend 80% de la largeur de la fenêtre */
    /*max-width: 600px; /* Largeur maximale */
    aspect-ratio: 2.5 / 1; /* Maintient le ratio largeur/hauteur */
    margin: 20px auto; /* Centré horizontalement avec un espace vertical */
    overflow: hidden /* auto; /* Ajoute des scrollbars si nécessaire */ /* Empêche le contenu de dépasser */
}

#authorContainer {
    position: fixed; /* Position fixe par rapport à la fenêtre */
    bottom: 10px; /* Décalé de 10px du bas */
    right: 10px; /* Décalé de 10px de la droite */
    font-size: 15px; /* Taille du texte */
    color: #544F63; /* Couleur du texte */
    background-color: rgba(255, 255, 255, 0.8); /* Fond blanc */
    padding: 5px 10px; /* Espace intérieur pour respirer autour du texte */
    border-radius: 5px; /* Coins arrondis */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Ombre légère pour un effet visuel agréable */
}



/* math */

.overline {
    text-decoration: overline;
    text-decoration-skip-ink: none;
}
.overline-sub {
    display: inline-block;
    position: relative;
}
.overline-sub::before {
    content: '';
    position: absolute;
    top: 0; /* Adjust this value as needed */
    left: 0;
    right: 0;
    border-top: 1px solid;
}

.overrightarrow {
    display: inline-block;
    position: relative;
}

.overrightarrow::after {
    content: '→';
    position: absolute;
    right: 0; /* Adjust this value as needed */
    bottom: 10px; /* Adjust this value as needed */
}
